In [1]:
import pandas as pd

In [10]:
df = pd.read_excel('data/baza.xlsx')

In [11]:
df.columns =['client']

In [12]:
df

                                                client
0              Пруща Вероника Владимировна 89642621513
1               Тудунова Долсон Эрдэниевна 89996858398
2             Шипицына Светлана Николаевна 89642845069
3              Тирская Елена Александровна 89025600031
4              Кутнякова Галина Степановна 89248371609
...                                                ...
6457               Евсин Николай Сергеевич 89501409677
6458          Медведкова Галина Аркадьевна 89149223658
6459          Медведева Наталья Георгиевна 89025111059
6460        колесникова елена владимировна 89148882885
6461         беризюк наталья александровна 89149149528

[6462 rows x 1 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6462 entries, 0 to 6461
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   client  6454 non-null   object
dtypes: object(1)
memory usage: 50.6+ KB

In [20]:
df['client'].astype('str')

0                Пруща Вероника Владимировна 89642621513
1                 Тудунова Долсон Эрдэниевна 89996858398
2               Шипицына Светлана Николаевна 89642845069
3                Тирская Елена Александровна 89025600031
4                Кутнякова Галина Степановна 89248371609
                              ...
6457                 Евсин Николай Сергеевич 89501409677
6458            Медведкова Галина Аркадьевна 89149223658
6459            Медведева Наталья Георгиевна 89025111059
6460          колесникова елена владимировна 89148882885
6461           беризюк наталья александровна 89149149528
Name: client, Length: 6462, dtype: object

In [29]:
df['tel'] = df['client'].str[-11:]

In [35]:
df['client_name'] =  df['client'].str[:-11]

In [39]:
df =df.drop(['client'], axis=1)

In [40]:
df

              tel                            client_name
0     89642621513           Пруща Вероника Владимировна
1     89996858398            Тудунова Долсон Эрдэниевна
2     89642845069          Шипицына Светлана Николаевна
3     89025600031           Тирская Елена Александровна
4     89248371609           Кутнякова Галина Степановна
...           ...                                    ...
6457  89501409677               Евсин Николай Сергеевич
6458  89149223658          Медведкова Галина Аркадьевна
6459  89025111059          Медведева Наталья Георгиевна
6460  89148882885        колесникова елена владимировна
6461  89149149528         беризюк наталья александровна

[6462 rows x 2 columns]

In [43]:
df.to_excel('data\база от Аникиной.xlsx')

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn import ensemble
param_distributions = {'n_estimators': list(range(100, 200, 30)),
              'min_samples_leaf': [5, 7],
              'max_depth': [10, 15, 20, 25]
              }
            
random_search_forest = RandomizedSearchCV(
    estimator=ensemble.RandomForestClassifier(random_state=42), 
    param_distributions=param_distributions, 
    cv=5,
    n_iter = 10, 
    n_jobs = -1
)  
random_search_forest.fit(X_train_scaled, y_train) 
y_train_pred = random_search_forest.predict(X_train_scaled)
print('f1_score на обучающем наборе: {:.2f}'.format(metrics.f1_score(y_train, y_train_pred)))
print("accuracy на тестовом наборе: {:.2f}".format(random_search_forest.score(X_test_scaled, y_test)))
y_test_pred = random_search_forest.predict(X_test_scaled)
print('f1_score на тестовом наборе: {:.2f}'.format(metrics.f1_score(y_test, y_test_pred)))
print("Наилучшие значения гиперпараметров: {}".format(random_search_forest.best_params_))