In [112]:
import pandas as pd
import plotly.express  as px

In [113]:
solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [114]:
print(round(solar_data['cum_power'].mean()))

23776

In [115]:
for i in range(len(solar_data['cum_power'])): 
    if solar_data['cum_power'][i] == -1:
        solar_data['cum_power'][i] = (solar_data['cum_power'][i-1] + solar_data['cum_power'][i+1])/2

C:\Users\User\AppData\Local\Temp\ipykernel_9256\250598976.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [116]:
print(round(solar_data['cum_power'].mean()))

23848

In [117]:
solar_data['date'] = pd.to_datetime(solar_data['date'], dayfirst = True)

In [118]:
solar_data['year'] = solar_data['date'].dt.year
solar_data['month'] = solar_data['date'].dt.month

In [122]:
solar_data.head()
solar_data = solar_data.groupby(['year', 'month']).mean()/31


solar_data.head(12)

             cum_power
year month
2017 1      650.099896
     2      653.452765
     3      659.502601
     4      673.710753
     5      690.583767
     6      711.878495
     7      731.196670
     8      747.699272
     9      760.433333
     10     769.623309
     11     774.166667
     12     776.081165

In [120]:
fig = px.line(solar_data, 
              x='date',
              y='cum_power')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['cum_power'] but received: date

In [ ]:
pd.read