# 6. Закрепление знаний

In [47]:
import pandas as pd
df = pd.read_csv('data/citibike-tripdata.csv', sep = ',')
df.info()
a = 300000 - 299831
print(a)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB
169

In [48]:
df['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [49]:
df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [50]:
mode_usertype = df['usertype'].mode()[0]
count_mode_user = df[df['usertype'] == 'Subscriber'].shape[0]
print(round(count_mode_user/df.shape[0], 2))

0.77

In [51]:
man = df[df['gender'] == 1].shape[0]
woman = df[df['gender'] == 2].shape[0]
print(man, woman)

183582 74506

In [52]:
df.nunique()

starttime                  299836
stoptime                   299813
start station id              759
start station name            759
start station latitude        770
start station longitude       772
end station id                765
end station name              765
end station latitude          775
end station longitude         777
bikeid                      10004
usertype                        2
birth year                     91
gender                          3
dtype: int64

In [53]:

df.describe(include= 'object')

,starttime,stoptime,start station name,end station name,usertype
count,300000,300000,299831,299831,300000
unique,299836,299813,759,765,2
top,2018-09-02 13:59:41.7770,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,2,1928,1963,232202

In [54]:
df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [55]:
df['birth year'].max()

2002

In [56]:
df['start station name'].value_counts(normalize= True)

Grand Army Plaza & Central Park S    0.006430
Central Park S & 6 Ave               0.006367
Pershing Square North                0.006247
12 Ave & W 40 St                     0.006153
West St & Chambers St                0.006120
                                       ...
NYCBS Depot - GOW                    0.000050
Franklin Ave & Empire Blvd           0.000037
Railroad Ave & Kay Ave               0.000030
47 Ave & Skillman Ave                0.000023
Eastern Pkwy & Washington Ave        0.000020
Name: start station name, Length: 759, dtype: float64

In [57]:
df.drop(['start station id', 'end station id'], axis=1, inplace=True)
display(df.shape[1])

12

In [58]:
display(df.shape[1])

12

In [60]:
df['age'] = 2018 - df['birth year']
df.drop(['birth year'], axis = 1, inplace=True)
print(df[df['age']>60].shape[0])

11837

In [62]:
df['stoptime'] = pd.to_datetime(df['stoptime'])
df['starttime'] = pd.to_datetime(df['starttime'])
df['trip duration'] = df['stoptime'] - df['starttime']
print(df['trip duration'].iloc[3])
df.loc[3, 'trip duration']

0 days 00:07:16.837000

Timedelta('0 days 00:07:16.837000')

In [65]:
weekday = df['starttime'].dt.dayofweek
df['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
df['weekend'].sum()

115135

In [68]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    if 6 < time <= 12:
        return 'morning'
    if 12 < time <= 18:
        return 'day'
    if 18 < time < 0:
        return 'evening'
    else:
        return 'else'
df['time_of_day'] = df['starttime'].dt.hour.apply(get_time_of_day)
a = df[df['time_of_day'] == 'day'].shape[0]
b = df[df['time_of_day'] == 'night'].shape[0]
print(round(a / b, 2))

9.48