# Практика

### В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
Напишите функцию create_medications(names, counts), создающую Series medications, индексами которого являются названия лекарств names, а значениями — их количество в партии counts.

Также напишите функцию get_percent(medications, name), которая возвращает долю товара с именем name от общего количества товаров в партии в процентах.

In [1]:
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    lec = pd.Series(dict(zip(names, counts)), name = 'lecarstva')
    return lec

   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    return(medications.loc[name]/sum(medications) * 100)


if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

# Dataframe

# Финальное задание

In [18]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep = ',')
display(student_data.head())
student_data.shape

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

(1000, 8)

In [20]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [21]:
display(student_data.loc[155,'writing score'])

88

In [22]:
student_data['math score'].mean()

66.089

In [23]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [28]:
display(student_data[(student_data['test preparation course'] == 'completed')].mean())
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()) # вот так правильнее

C:\Temp\ipykernel_6044\760155286.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(student_data[(student_data['test preparation course'] == 'completed')].mean())

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

74

In [30]:
student_data[student_data['math score'] == 0].shape[0]

1

In [35]:
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [36]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()

70.03410852713178

In [38]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [41]:
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - b)))

6